<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernate">
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/biblioteca</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="modelo.Libros" package="modelo" resource="/modelo.Libros.hbm.xml"/>
        <mapping class="modelo.Prestamos" package="modelo" resource="/modelo.Prestamos.hbm.xml"/>
         <mapping class="modelo.Usuarios" package="modelo" resource="/modelo.Usuarios.hbm.xml"/>
    </session-factory>
    
</hibernate-configuration>
